<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0", user-scalable="no">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Pixie Lab - Transforme texto em imagens de forma rápida</title>
    <meta name="description" content="Pixie Lab é uma ferramenta online que converte texto em imagens de forma rápida e fácil. Experimente agora!">

</head>
    <body>
    </body>
</html>
