<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0", user-scalable="no">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Pixie Lab - Transforme texto em imagens de forma rápida</title>
    <meta name="description" content="Pixie Lab é uma ferramenta online que converte texto em imagens de forma rápida e fácil. Experimente agora!">

</head>
    <body>
        <div id="pub2">
                    <div class="pub_header">
                        <p class="publicity-text">
                    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3095431383693299"
                crossorigin="anonymous"></script>
            <ins class="adsbygoogle"
                style="display:block"
                data-ad-format="fluid"
                data-ad-layout-key="-h4+1+17-4m+5u"
                data-ad-client="ca-pub-3095431383693299"
                data-ad-slot="2638448960"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
                    </p>
                    </div>
        </div>

        <div id="menu">
            <div id="logo">
                <a href="#">Pixie Lab</a> 
            </div>
            <ul class="menu_desktop">
                <li><a href="https://www.pixie-lab.com">Home</a></li>
                <li><a href="faq.html">FAQ</a></li>
            </ul>
        </div>


        <div id="pub1">
            <div class="pub_header">
                <p class="publicity-text">publicity</p>
            </div>
        </div>

        <div id="content">
            <div id="input">
                <h1>Create Art with AI</h1>
                    <p style="opacity: 65%;">Input text prompts, and watch pixie-lab effortlessly turn words into stunning visuals. Try it out today!</p>
                <!--
                    <p class="section-title">Settings</p>
                    <p class="dropdown-label">Ratio</p>        
                    <div class="dropdown">    
                        <button class="dropbtn" onclick="toggleDropdown('ratioDropdown')">Portrait (4:3)</button>
                        <div id="ratioDropdown" class="dropdown-content">
                            <a href="#" onclick="updateButtonText('ratioDropdown', this)">Portrait (4:3)</a>
                            <a href="#" onclick="updateButtonText('ratioDropdown', this)">Widescreen (16:9)</a>
                            <a href="#" onclick="updateButtonText('ratioDropdown', this)">Square (1:1)</a>
                            <a href="#" onclick="updateButtonText('ratioDropdown', this)">Mobile Vertical (9:16)</a>
                            <a href="#" onclick="updateButtonText('ratioDropdown', this)">Landscape (3:2)</a>
                        </div>
                    </div>
                    <p class="dropdown-label">Resolution</p>
                    <div class="dropdown">    
                        <button class="dropbtn" onclick="toggleDropdown('resolutionDropdown')">720p</button>
                    </div>

                    <p class="dropdown-label">Style</p>
                    <div class="dropdown">    
                        <button class="dropbtn" onclick="toggleDropdown('styleDropdown')">Style</button>
                    </div>
                -->
                <p class="section-title" style="padding-top: 15px;">Prompt</p>
                <textarea id="prompt" rows="4" cols="50" placeholder="Describe image to generate"></textarea><br>
                <button id="generateButton" onclick="generateImage()">Create</button><br>
            </div>




            <div id="results"> 
                <div class="example-container">
                    <img id="example" src="https://uploaddeimagens.com.br/images/004/791/220/original/6f2470ab-268f-4397-90ad-62965b521b87.png?1717418789" alt="Exemplo de imagem gerada pelo Pixie Lab">
                    <div class="overlay">
                        <p>'A sculpture of a colourful abstract duck isolated with a shape from there, in the style of edward hopper, white background'
                            <a style="float: left; padding-top: 300px; font-size: 14px;">Try this prompt</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>


        <div id="footer">
            <p>© 2024 Pixie Lab</p>
        </div>


        <script>
            function generateImage() {
                var promptText = document.getElementById("prompt").value;
                var xhr = new XMLHttpRequest();
                xhr.open("POST", "/generate_image", true);
                xhr.setRequestHeader("Content-Type", "application/json");
                xhr.onreadystatechange = function () {
                    if (xhr.readyState === 4 && xhr.status === 200) {
                        var responseData = JSON.parse(xhr.responseText);
                        var imageUrl = responseData.url;
                        document.getElementById("example").src = imageUrl;
                    }
                };
                xhr.send(JSON.stringify({ prompt: promptText }));
            }
        </script>
        

            </body>
</html>
